# This is a basic workflow to help you get started with Actions

name: version checks

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron:  '30 5 * * *'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - name: "googlechrome: Install xmllint"
        run: sudo apt-get install libxml2-utils
      - name: "googlechrome: Run Bash script"
        run: |
          chmod +x ./googlechrome/run.sh
          ./googlechrome/run.sh
      - name: "ryzen-controller: Run Python script"
        # chmod +x ./ryzen-controller/run.sh
        # ./ryzen-controller/run.sh
        run: |
          python3 ./ryzen-controller/run.py
      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@4.1.4
        with:
          branch: gh-pages
          # The folder in your repository that you want to deploy. If your build script compiles into a directory named build you would put it here. Folder paths cannot have a leading / or ./. If you wish to deploy the root directory you can place a . here.
          folder: ./pages/
          # If you would like to push the contents of the deployment folder into a specific directory on the deployment branch you can specify it here.
